# General
.DS_Store
.AppleDouble
.LSOverride
venv
.idea

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
data/citation-acm-v8.txt
data/dblp.txt
test.py
*.pyc
__pycache__
inbox
DIA.egg-info
build
First Vertices.csv
results/*baseline*.csv
results/*match*.csv
results/*test*